.header{
    margin: 0px;
    background: #ebebec;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.logo{
    height: 65px;
    position: relative;
}
.logo img{
    position: absolute;
    top: 7%;
}


.menu{
    position: relative;
    float: right;
}

.menu ul{
    list-style: none;
    padding-top: 6px;
}
.menu ul li a{
    text-decoration: none;
    color: #000;
}

.menu ul li{
    display: inline-block;
    padding: 10px 20px;
}
.header_loginbtn{
    border-radius: 5px;
    padding: 5px 20px;
    background: #ffffff;
    border: 0;
    color: #000000;
}

.header_loginbtn:hover{
    border-radius: 5px;
    padding: 5px 20px;
    color: #000000;
    background: #f1eded;
    border: 0;
}

.main_banner{
    background-image: url("../images/homebannerbackground.jpg");
    height: 650px;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    color: #ffffff;


}
.center{
    line-height: 650px;
}
.maincontainerdata{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 100px;
}
.maincontainerdata h1{

    color: #ffffff;
    font-family: fantasy;
    font-size: 50px;
}
.maincontainerdata p{
    font-size: 16px;
}
.btngetstartedbtn {

    background-image: linear-gradient(to right, #3CA55C 0%, #B5AC49  51%, #3CA55C  100%);
    margin: 50px 0;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    border-radius: 10px;
    display: block;
}
.footer_main{
    background-color: #ebebec;
    padding: 50px;
}
.address{
    margin-left: 5px;
}

.quicklinkstags a{
    font-size: 15px;
    color: #000000;
    margin-left: 10px;
    margin-top: 12px;
    display: block;
}
.homepagecard{
    height: 200px;
    margin: 30px 0px;
    background-color: #f4f4f8;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
}
.homepagecard h4{
    margin: 20px;
    font-family: monospace;
    color: #000a4a;
    font-weight: 800;
}
.centertitle h2{
    text-align: center;
    margin: 60px 30px 40px 30px;
    font-weight: 600;
}
.blogtext{
    margin: 50px;
}
.blogtext h3{
    margin: 10px 0 20px 0;
    font-weight: bolder;
    font-family: fantasy;
}
.blogtext p{
    font-family: math;
    font-size: 17px;
}

/*------------------ login page -------------------------*/
.loginpage{
    height: 650px;
    position: relative;
    text-align: center;
    background-image: linear-gradient(to right, #3739ff 0%, #6668ef 51%, #9091f4 100%);
}
.mainloginpage{
    margin-top: 100px;
    top: 12%;
    background-color: #ffffff;
    display: inline-block;
    width: 24%;
    padding: 40px;
}
.loginbox{
    text-align: left;
}
.forgotpassword{
    text-align: right;
}
.logincbtn{
    text-align: center;
}
.logincbtn button{
    background-image: linear-gradient(to right, #3739ff 0%, #6668ef 51%, #9091f4 100%);
    padding: 10px 80px;
    border-radius: 6px;
    border: 0px;
    color: white;
}
.signupcbtn{
    text-align: center;
    margin-top: 20px;
}
.signupcbtn a{
    color: #000a4a;

}
.btnregister{
    text-align: center;
    margin: 200px 100px 100px 100px;
}
.btnregister button{
    background-image: linear-gradient(to right, #3739ff 0%, #6668ef 51%, #9091f4 100%);
    padding: 10px 80px;
    border-radius: 6px;
    border: 0px;
    color: white;
}



/*---------------------------- admin dashboard -------------------------------*/
.admin_header{
    background-color: #191919;
}
.adminmenu{
}
.adminmenu a{
    font-size: 15px;
    color: #ffffff;
    position: relative;
    top: 20px;
    padding: 10px 30px;
}
.adminsidebar{
    background-color: #ecedf4;

}
.admin_sidebar_menu{
    text-align: center;
}
.admin_sidebar_menu div{
    list-style-type: none;
    display: block;
}
.admin_sidebar_menu div a{
    display: block;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 5px;

    font-family: math;
}
.admin_sidebar_menu div a:hover{
    background-color: #232222;
    text-decoration: none;
}


.cardview{
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}
.lpart{
    display: inline-block;
    background-color: #6f4b3d;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.rpart{
    display: inline-block;
    color: #ffffff;
    padding-left: 25px;
}
.rpart h3  {
    margin-top: 20px;
    top: 13px;
    font-size: 20px;
    position: absolute;
}
.rpart p{
    font-size: 30px;
    top: 65px;
    position: absolute;
}
.accountconfirmbtn{
    text-align: center;
    margin-bottom: 50px;
}
.accountconfirmbtn button{
    background-image: linear-gradient(to right, #3739ff 0%, #6668ef 51%, #9091f4 100%);
    padding: 10px 100px;
    border-radius: 6px;
    border: 0px;
    font-size: 16px;
    color: white;
}

/*customerdashboard  */

.customergreet h2{
    font-family: math;
    font-weight: 700;
    line-height: 18px;
}
.maincustomerpendingpagebody{
    text-align: center;
}
.supportaddbtn{
    text-align: right;
}
.supportaddbtn button{
    padding: 10px 60px;
}

.pendingbox{
    padding: 80px;
}










@media only screen and (max-width: 1200px) {
    .main_banner{
        background-image: url("../images/bankingimage.jpg");
        height: 650px;
        background-position: center;
    }
    .menu{
        text-align: center;
        display: block;
        float: none;
    }
    .menu ul li{
        display: block;
        color: #ffffff;
    }
    .logo{
        text-align: center;
    }
    .logo img{
        position: relative;
        margin-left: 25px;
    }
    .menucontainer{
        display: block;
    }

}