<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body oncontextmenu="return false">
<div class="admin_header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo" style="margin-left: 18px">
                    <img src="/images/white_logo.png" alt="" height="50px" style="float: left;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="adminmenu" style="float: right;">
                    <a href="/adminlogout">Logout <span><img src="/images/out.png" alt="logout" height="25px"></span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 0; padding: 0;">
    <div class="col-lg-2" style="background-color: #191919; height: 100vh;">
        <div class="admin_sidebar_menu">
            <div>
                <h3 style="font-family: math; color: white">Administration</h3>
            </div>
            <div>
                <br>
                <a href="/admindashboard">Dashboard</a>

                <a href="/adminmanageaccount">Account</a>

                <a href="/adminnewaccount">Account Openning</a>

                <a href="/adminfixdeposit">Fixed Deposit</a>

                <a href="/admintransfer">Transfer</a>

                <a href="/admindebit">Deposit</a>

                <a href="/adminwithdraw">Withdraw</a>

                <a href="/staff">Manage Employee</a>

                <a href="/adminsupport">Contact Us</a>

                <a href="/adminprofile">Admin Profile</a>


            </div>

        </div>

    </div>
    <br><br>
    <div class="col-lg-10">
        <div class="container" style="margin-top: 0">
            <br>
            <form action="/adminnewadminsave" method="post">
                <div class="row">
                    <h3><b>Manage Admin Profile</b></h3>
                    <br>
                    <br>
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="form-group">
                            <label for="txtadminname">Admin Name :</label>
                            <input type="text" class="form-control" id="txtadminname" name="txtadminname" placeholder="Enter your first name" required>
                            <br>
                            <label for="txtadminemail">Email Address :</label>
                            <input type="email" class="form-control" id="txtadminemail" name="txtadminemail" placeholder="Enter your Email Address" required>
                            <br>
                            <label for="txtadminpassword">Password :</label>
                            <input type="password" class="form-control" id="txtadminpassword" name="txtadminpassword" placeholder="Enter your password" required>
                            <br>


                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12">
                        <div class="form-group">

                            <label for="txtadminrole">Admin Role :</label>
                            <select class="form-control" id="txtadminrole" name="txtadminrole">
                                <option value="Admin">Admin</option>
                                <option value="Casher">Casher</option>
                                <option value="Support">Support</option>
                            </select>
                            <br>
                            <label for="txtadminstatus">Admin Status :</label>
                            <select class="form-control" id="txtadminstatus" name="txtadminstatus">
                                <option value="Active">Active</option>
                                <option value="Deactive">Deactive</option>
                            </select>
                            <br>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <br><br>
                <div class="accountconfirmbtn">
                    <button type="submit" onclick="return confirm('Are you sure?')">Add Employee</button>
                </div>
                <br>

            </form>



        </div>
    </div>
</div>
</body>
</html>