<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="admin_header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo" style="margin-left: 18px">
                    <img src="/images/logo.png" alt="" height="50px" style="float: left;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="adminmenu" style="float: right;">
                    <a href="/adminlogout">Logout <span><img src="/images/out.png" alt="logout" height="25px"></span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 0; padding: 0;">
    <div class="col-lg-2" style="background-color: #ecedf4; height: 100px;">
        <div class="admin_sidebar_menu">
            <div>
                <h3 style="font-family: math">Administration</h3>
            </div>
            <div>
                <br>
                <a href="">Dashboard</a>

                <a href="">Account</a>

                <a href="/adminnewaccount">Account Openning</a>

                <a href="">Fixed Deposit</a>

                <a href="">Transfer</a>

                <a href="">Deposit</a>

                <a href="">Withdraw</a>

                <a href="">Contact Us</a>

                <a href="">Admin Profile</a>


            </div>

        </div>

    </div>
    <br><br>
    <div class="col-lg-10" style="margin-top: 0; padding: 0;">
        <div class="container">
            <div class="row">
                <h3>Manage Accounts</h3>
                <br>
                <table class="table table-bordered">
                    <thead>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Mobile  Number</th>
                    <th>Action</th>
                    </thead>
                    <tbody>
                    <tr th:each = "customer: ${customers}">
                        <td th:text="${customer.customer_id}">Load...</td>
                        <td th:text="${customer.customer_firstname}">Load...</td>
                        <td th:text="${customer.customer_lastname}">Load...</td>
                        <td th:text="${customer.customer_emailid}">Load...</td>
                        <td th:text="${customer.customer_mobile}">Load...</td>
                        <td><a th:href="@{/adminnewaccount/{id}(id=${customer.customer_id})}"><button type="button" class="btn btn-success">Action</button></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>