<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FundLab Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12">
          <div class="logo">
            <img src="/images/logo.png" alt="logo" height="50px">
          </div>
        </div>
        <div class="menucontainer col-lg-6 col-sm-12 col-md-12">
          <div class="menu navbar-nav">

            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#"><button class="header_loginbtn btn-primary">LogIn</button></a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section>
  <div class="loginpage">
    <div class="container-fluid">
      <div class="row">
        <div class="mainloginpage">


          <div class="loginbox">
            <h3>Administration</h3>
            <h3>Login</h3><br>
            <form action="/adminlogin" method="post">
              <div class="form-group">
                <label for="adminemailid">Email address</label>
                <input type="email" class="form-control" id="adminemailid" name="adminemailid" placeholder="Email Address">
              </div>
              <div class="form-group">
                <label for="adminpassword">Password</label>
                <input type="password" class="form-control" id="adminpassword" name="adminpassword" placeholder="Password">
                </div>
              <br><br>
              <p th:text="${error}"></p>
              <br><br>
                <div class="logincbtn">
                  <button type="submit">Login</button>


                </div>

          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>