<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundLab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="logo">
                        <img src="/images/logo.png" alt="logo" height="50px">
                    </div>
                </div>
                <div class="menucontainer col-lg-6 col-sm-12 col-md-12">
                    <div class="menu navbar-nav">

                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#"><button class="header_loginbtn btn-primary">LogIn</button></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="centertitle">
                <h2>OPEN A NEW ACCOUNT</h2>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <form action="/registeraccount" method="post">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="form-group">
                        <label for="txtfname">First Name :</label>
                        <input type="text" class="form-control" id="txtfname" name="txtfname" placeholder="Enter your first name">
                        <br>
                        <label for="txtemail">Email Address :</label>
                        <input type="email" class="form-control" id="txtemail" name="txtemail" placeholder="Enter your Email Address">
                        <br>
                        <label for="txtpassword">Password :</label>
                        <input type="password" class="form-control" id="txtpassword" name="txtpassword" placeholder="Enter your Password">
                        <br>
                        <label for="txtdob">Date of Birth :</label>
                        <input type="date" class="form-control" id="txtdob" name="txtdob" placeholder="Enter your Date of Birth">
                        <br>
                        <label for="txtactype">Account Type :</label>
                        <select class="form-control" id="txtactype" name="txtactype">
                            <option value="saving_account">Saving Account</option>
                            <option value="ccurrent_account">Current Account</option>

                        </select>

                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="form-group">
                        <label for="txtlname">Last Name :</label>
                        <input type="text" class="form-control" id="txtlname" name="txtlname" placeholder="Enter your last name">
                        <br>
                        <label for="txtmobilenumber">Mobile Number :</label>
                        <input type="text" class="form-control" id="txtmobilenumber" name="txtmobilenumber" placeholder="Enter your mobile number">
                        <br>
                        <label for="txtaddress">Address :</label>
                        <input type="text" class="form-control" id="txtaddress" name="txtaddress" placeholder="Enter your Address">
                        <br>
                        <label for="txtpostcode">Postal Code :</label>
                        <input type="text" class="form-control" id="txtpostcode" name="txtpostcode" placeholder="Enter your postal code">
                        <br>
                        <label for="txtcountry">Country :</label>
                        <input type="text" class="form-control" id="txtcountry" name="txtcountry" placeholder="Enter your Country">
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <br>
                <div class="btnregister">
                    <button type="submit">Create A New Account</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</section>
</body>
</html>