<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FundLab</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body oncontextmenu="return false">
<div class="admin_header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="logo" style="margin-left: 18px">
          <img src="/images/white_logo.png" alt="" height="50px" style="float: left;">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="adminmenu" style="float: right;">
          <a href="/customerlogout">Logout <span><img src="/images/out.png" alt="logout" height="25px"></span> </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="margin-top: 0; padding: 0;">
  <div class="col-lg-2" style="background-color: #191919; height: 100vh;">
    <div class="admin_sidebar_menu">

      <div>
        <br>
        <a href="/customerdashboard">Dashboard</a>

        <a href="/customertrasfer">Transfer Money</a>


        <a href="/customertransactionhistory">Transaction History</a>

        <a href="/customerfixeddeposit">Fixed Deposit</a>

        <a href="/customersupport">Customer Support</a>

        <a href="/profile">Profile</a>

      </div>

    </div>

  </div>
  <br><br>
  <div class="col-lg-10">
    <div class="container" style="margin-top: 0">
      <div class="stheader"><h3><b>Create New Fixed Deposit</b></h3></div>
      <br><br>
      <form action="/createnewfdbtn" method="post">
        <div class="row">
          <br>
          <br>
          <div class="col-lg-6 col-sm-12 col-md-12">
            <div class="form-group">
              <label for="txtfdamount">Amount :</label>
              <input type="number" class="form-control" id="txtfdamount" name="txtfdamount" placeholder="Enter Amount" required>
              <p th:text="${balanceerror}"></p>
              <br><br>
              <label for="txttenure">Tenure ( IN MONTHS ) :</label>
              <input type="number" class="form-control" id="txttenure" name="txttenure" placeholder="Enter Tenure in Months" required>
              <br>


            </div>
          </div>
          <br>
          <br>
        </div>
        <br><br>
        <div class="accountconfirmbtn" style="float: left">
          <button type="submit" onclick="return confirm('Are you sure?')">Create Now</button>
        </div>
        <br>

      </form>


    </div>
  </div>
</div>
</body>
</html>