<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundLab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="header" style="background-color: #191919">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="logo">
                        <img src="/images/white_logo.png" alt="logo" height="50px">
                    </div>
                </div>
                <div class="menucontainer col-lg-6 col-sm-12 col-md-12">
                    <div class="menu navbar-nav">

                        <ul>
                            <li><a href="/" style="color: #ffffff">Home</a></li>
                            <li><a href="#" style="color: #ffffff">About</a></li>
                            <li><a href="#" style="color: #ffffff">Support</a></li>
                            <li><a href="/login"><button class="header_loginbtn btn-primary">LogIn</button></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="maincustomerpendingpagebody">
        <div class="pendingstbox">
            <div class="container">
                <div class="row">
                    <div class="pendingbox">
                        <img src="/images/pendingstatus.png" alt="" height="100px">
                        <br><br>
                        <h3 style="font-family:fantasy">Pending For Review Account</h3>
                        <br>
                        <p>In order to make sure our community holds up a standard, we don't allow any profiles to get in.
                            <br>
                            To complete the verification process and activate your account take some times, please reach <br> out to our support team at your earliest convenience. if you have any questions please don't <br> hesitate to reach out </p>
                        <br><br>
                        <p><b>Email Address : </b> fundlab@support.com</p>
                        <p><b>Mobile Number : </b> +49 17663116950</p>



                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>