<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FundLab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="admin_header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="logo" style="margin-left: 18px">
                    <img src="/images/white_logo.png" alt="" height="50px" style="float: left;">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="adminmenu" style="float: right;">
                    <a href="/customerlogout">Logout <span><img src="/images/out.png" alt="logout" height="25px"></span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 0; padding: 0;">
    <div class="col-lg-2" style="background-color: #191919; height: 100vh;">
        <div class="admin_sidebar_menu">

            <div>
                <br>
                <a href="/customerdashboard">Dashboard</a>

                <a href="">Transfer Money</a>


                <a href="">Transaction History</a>

                <a href="">Fixed Deposit</a>

                <a href="/customersupport">Customer Support</a>

                <a href="/profile">Profile</a>


            </div>

        </div>

    </div>
    <br><br>
    <div class="col-lg-10">
        <div class="container">
            <div class="row">
                <div class="customergreet">
                    <h2>Welcome, </h2><h2 th:text="${customername}"></h2>
                    <br>
                    <div class="col-lg-6">
                        <div class="dashboardcard">
                            <h5>Saving A/C</h5>
                            <h4>0000000000</h4>

                            <h3>€ 100</h3>
                            <h6>Balance available</h6>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="dashboardcard">
                            <h5>Fixed Deposit</h5>
                            <h4>0000000000</h4>

                            <h3>€ 00</h3>
                            <h6>Balance available</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="recenttransaction">
                    <h2 style="font-family: math; font-weight: 700;}">Recent Transaction</h2>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Support ID</th>
                                <th>Subject</th>
                                <th>Created At</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
<!--                            <tr th:each = "supportlist: ${supportlist}">-->
<!--                                <td th:text="${supportlist.support_id}">Load...</td>-->
<!--                                <td th:text="${supportlist.support_title}">Load...</td>-->
<!--                                <td th:text="${supportlist.support_created_at}">Load...</td>-->
<!--                                <td th:text="${supportlist.support_status}">Load...</td>-->
<!--                                <td><a th:href="@{/customersupport/{id}(id=${supportlist.support_id})}"><button type="button" class="btn btn-primary">Show</button></a>-->
<!--                            </tr>-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>