<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X fund</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="logo">
                        <img src="/images/xfundlogo.png" alt="logo" height="50px">
                    </div>
                </div>
                <div class="menucontainer col-lg-6 col-sm-12 col-md-12">
                    <div class="menu navbar-nav">

                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#"><button class="header_loginbtn btn-primary">LogIn</button></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="centertitle">
                <h2>OPEN A NEW ACCOUNT</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form action="#">
                <div class="form-group">
                    <la
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>