<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>X fund</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 col-md-12">
                    <div class="logo">
                        <img src="/images/xfundlogo.png" alt="logo" height="50px">
                    </div>
                </div>
                <div class="menucontainer col-lg-6 col-sm-12 col-md-12">
                    <div class="menu navbar-nav">

                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="/login"><button class="header_loginbtn btn-primary">LogIn</button></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section>
<div class="main_section">
    <div class="container-fluid">
        <div class="row">
            <div class="main_banner center">
                <div class="maincontainerdata">
                    <h1>Let's Simplifying your financial services.</h1>
                    <p>"Welcome to X fund a securely, efficiently, and user-friendly banking management system. Manage <br> your accounts, make transactions, and customer services with easly. Our platform ensures seamless <br> banking operations and real-time processing."</p>
                    <button type="button" class="btngetstartedbtn">Register Now </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="centertitle">
                <h2>Features</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-12 col-md-12">
                <div class="homepagecard">
                    <img src="/images/walletpng.png" alt="wallet" height="60px">
                    <h4>Cheking Account</h4>
                    <h5>check your account balance</h5>

                </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-12">
                <div class="homepagecard">
                    <img src="/images/savingpng.png" alt="wallet" height="60px">
                    <h4>Saving & Interest</h4>
                    <h5>Extra  account with 3%</h5>

                </div>
            </div><div class="col-lg-3 col-sm-12 col-md-12">
            <div class="homepagecard">
                <img src="/images/loanpng.png" alt="wallet" height="60px">
                <h4>Loans</h4>
                <h5>from 2500 to 50000 Euros</h5>

            </div>
        </div>
            <div class="col-lg-3 col-sm-12 col-md-12">
                <div class="homepagecard">
                    <img src="/images/growpng.png" alt="wallet" height="60px">
                    <h4>Growth and Funds</h4>
                    <h5>Securely Grow your  wealth</h5>

                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="centertitle">
                <h2>Onling Banking</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="blogimg">
                    <img src="/images/blog1img.jpg" alt="img" width="500px" height="500px">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="blogtext">
                    <br>
                    <h3>The Future of Digital Banking</h3><br>
                    <p>Discuss how digital banking solutions, AI, and automation are revolutionizing traditional banking.</p>
                    <p>Highlight features like online account management, secure transactions, and AI-driven financial insights.</p>
                    <p>Explain how your Banking Management System can help banks and customers with seamless operations.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="blogtext">
                    <br>
                    <h3>Why Every Bank Needs a Robust Banking Management System</h3><br>
                    <p>Explain the importance of a secure and efficient banking system for financial institutions.</p>
                    <p>Discuss key features like customer account management, loan processing, transaction tracking, and security.</p>
                    <p>Showcase how your system improves efficiency, reduces errors, and enhances customer experience.</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-12">
                <div class="blogimg">
                    <img src="/images/blog2img.jpg" alt="img" width="500px" height="500px">
                </div>
            </div>
        </div>
    </div>
</div>
    <br>
</section>

<footer>
    <div class="footer_main">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="logo">
                        <img src="/images/xfundlogo.png" alt="logo" height="50px">
                    </div>
                    <div class="address">
                        <br>
                        <p><b style="font-size: 18px;">X fund Bank</b> <br><br> +49 17663116950 <br><br> Bornimer Str. 09 <br> 10711 Berlin, <br>Germany</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="footerqlink">
                        <br>
                        <h4>Quick Links</h4>
                        <br>
                        <div class="quicklinkstags">
                            <a href="#">Home</a>
                            <a href="#">About</a>
                            <a href="#">Support</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="footerqlink">
                        <br>
                        <h4>Products</h4>
                        <br>
                        <div class="quicklinkstags">
                            <a href="#">Transaction</a>
                            <a href="#">Loan</a>
                            <a href="#">Cards</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <div class="footercontact">
                        <br>
                        <h4>Find us in Social Media</h4>

                        <div class="row" style="margin: 30px 50px 30px 0">
                            <div class="col-lg-3 col-sm-6">
                                <img src="/images/instagraming.png" alt="logo" height="50px">
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <img src="/images/fbicon.png" alt="logo" height="50px">
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <img src="/images/webpng.png" alt="logo" height="50px">
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <img src="/images/linkdinpng.png" alt="logo" height="50px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>